@keyframes flashing{
    0%{
        opacity:0;
    }
    80%{
        opacity:1;
    }
    100%{
        opacity:1;
    }
}

@keyframes arrowAnimation{
    0%{
        opacity:1;
        transform:scale(100%);
    }
    100%{
        transform:scale(120%);
    }
}

@keyframes bounce{
    0%{
        transform: translate(0px, 0px);
    }
    100%{
        transform: translate(0px, .33%);
    }
}

.bounce{
    animation: bounce .3s infinite alternate;
}

@keyframes shake{
    0%{
        transform:rotate(0turn);
    }
    33%{
        transform:rotate(0.005turn);
    }
    67%{
        transform:rotate(0turn);
    }
    100%{
        transform:rotate(-0.005turn);
    }
}
.shake{
    animation: shake .05s;
}

@keyframes playerAttack{
    0%{
        left:0vh;
        bottom:0vh;
        transform:scaleX(-1);
    }
    30%{
        left:11vh;
        bottom:11vh;
        transform-origin:center;
        transform:rotate(5deg);
        transform:scaleX(-1);
    }
    80%{
        left:8vh;
        bottom:8vh;
        transform-origin:60% 60%;
        transform:rotate(25deg);
        transform:scaleX(.3);
    }
    100%{
        left:0vh;
        bottom:0vh;
        transform-origin:center;
        transform:rotate(0deg);
        transform:scaleX(-1);
    }

}
.playerAttack{
    animation: playerAttack 1.5s;
}
@keyframes enemyAttack{
    0%{
        right:0vh;
        top:0vh;
    }
    30%{
        right:11vh;
        top:11vh;
        transform-origin:center;
        transform:rotate(-5deg);
        transform:scaleX(1);
    }
    80%{
        right:8vh;
        top:11vh;
        transform-origin:40% 40%;
        transform:rotate(-25deg);
        transform:scaleX(-.3);
    }
    100%{
        right:0vh;
        top:0vh;
        transform-origin:center;
        transform:rotate(0deg);
    }

}
.enemyAttack{
    animation: enemyAttack 1.5s;
}

@keyframes playerRun{
    0%{
        top:0vh;
        right:0vh;
        transform:scaleX(-1);
    }
    10%{
        top:3vh;
        right:3vh;
        transform:scaleX(1);
    }
    50%{
        top:30vh;
        right:30vh;
        transform:scaleX(1);
    }
    100%{
        top:0vh;
        right:0vh;
        transform:scaleX(-1);
    }

}
.playerRun{
    animation: playerRun 1.5s;
}