@font-face {
    font-family: pokemonClassic;
    src: url('fonts/Pokemon\ Classic.ttf');
}
@font-face{
    font-family: pokemonTitle;
    src:url('fonts/Pokemon\ Solid.ttf');
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%;
    display: flex;
    align-items: center;

}

#mainContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}

#gameboy {
    background-image: url('images/gbc_1400x1080.jpeg');
    height: 100vh;
    aspect-ratio: 1400/1080;
    background-size: contain;
    background-repeat: no-repeat;

}

#viewscreen {
    background-color: white;
    position: relative;
    height: 69.9%;
    width: 59%;
    top: 15%;
    left: 20.6%;
    border-radius: 1%;
    font-family: pokemonClassic;
    font-size: 3vh;
    overflow:hidden;

}

.radialBackground{
    padding:0;
    margin:0;
    position:absolute;
    height:175vh;
    width:100%;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 6%,
            rgba(119, 87, 209, 1) 16%, rgba(252, 70, 107, 1) 36%, rgba(252, 70, 107, 1) 50%,
            rgba(199, 77, 148, 1) 60%, rgba(145, 84, 189, 1) 75%);
  }
/* Animations */
@keyframes flashing{
    0%{
        opacity:1;
    }
    20%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

@keyframes shake{
    0%{
        transform: translate(0px, 0px);
    }
    100%{
        transform: translate(0px, 5px);
    }
}

.shake{
    animation: shake .25s infinite alternate;
}

/* Scenes */

.hidden{
    display:none!important;
}

/* title*/

#sc_title{
    height:100%;
    width:100%;
}
.titleContainer{
    height:100%;
    width:100%;
    display:flex;
    justify-content:center;
}
.titleText{
    position:absolute;
    top:20%;
    font-family:pokemonTitle;
    font-size:7vh;
}
.titlePressAny{
    position:absolute;
    bottom:20%;
    animation: flashing 1s infinite alternate;
}
/* Hello there! */
/*TODO: add odin mascot
make text show up letter by letter
make odin shake with text animation
Open keyboard after welcome
Enter name
Show player icon options*/
#sc_helloThere{
    height: 100%;
    width: 100%;
}
.odin{
    background-image: url('images/odin-mascot.svg');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    height:30%;
    width:100%;
    top:18%;
}
.bottomContainer{
    display:flex;
    position:absolute;
    bottom:2%;
    width:100%;
    height:30%;
    justify-content:center;
    align-items:center;
}
.bottomTextBox{
    width:95%;
    height:95%; 
    border-style:solid double;
    border-radius:2%;
    border-width:5px;
    padding:1%;
}


/*nameSelect*/
#sc_nameSelect{
    height:100%;
    width:100%;

}