body{
    background-color:black;
    margin:0;
    /* display:flex; */
}

#mainContainer{
}

#dummy{
    /* margin-top: 75%; */
}

#mainScreen{
    /* background-color: white; */
    /* position:fixed; */
    /* overflow:hidden; */
    /* width:100%; */
    /* min-width: 500px; */
    /* aspect-ratio:21/18; */
    height: 100vh;
    background-image: url('images/gb-background.png');
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
/* #gbBackground{
    height: 100%;
    width: auto;
    position:absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);

} */
#viewScreen{
    padding:3px;
    background-color:red;
    opacity:51%;
    height:46%;
    width:51%;
    position:relative;
    top: 23.1%;
    left:24%;

}